.card {
  background-color: #1e1e1e;
  color: white;
  width: 300px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 10px;
  font-family: sans-serif;
  text-align: center;
 
}

.time-picker {
  display: grid;
  grid-template-areas:
    "up"
    "minutes"
    "down"
    "label";
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.time-picker button {
  background-color: #333;
  color: white;
  border: none;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
}

.minutes {
  grid-area: minutes;
  font-size: 32px;
  margin: 10px 0;
}

.label {
  font-size: 14px;
  color: #aaa;
}

.skip-break {
  margin: 15px 0;
}

.start-btn {
  background-color: #a5fb9f;
  color: black;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 6px;
}
